<div id="splash">
  <%= image_tag 'logo.png', class: 'logo-img' %>
  <div class="splash-btns">
    <%= link_to 'sign up', new_user_registration_path, class: 'splash-btn' %>
    <%= link_to 'log in', new_user_session_path, class: 'splash-btn' %>
  </div>
</div>
