#new_user {
  padding-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.field,
.actions {
  width: 100%;
}

.field input {
  width: 100%;
  background: #efefef;
  padding: 1em 1.5em;
  border: 1px solid #00000030;
}

.field.remember {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.field.remember .remember-checkbox {
  width: min-content;
}

@media screen and (min-width: 768px) {
  #new_user {
    gap: 18px;
  }

  .field,
  .actions {
    width: 50%;
  }
}
