* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#splash {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#links {
  text-align: center;
  padding-top: 18px;
}

#links > a {
  color: #000;
  text-decoration: none;
}

#links > a:hover {
  color: #4848eb;
}

.btn {
  background-color: #4848eb;
  color: #fff;
  padding: 0.5em 1em;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.5em;
  text-decoration: none;
  text-align: center;
  border: none;
  font-weight: 900;
}

.div-add {
  background-color: #5eb623;
  padding: 1em  1.5em;
  width: 100%;
}

.btn-add {
  padding: 1em;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}
