#splash {
  align-items: center;
}

.logo-img {
  width: 100%;
  height: 150px;
}

.splash-btns {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
}

.splash-btn {
  text-transform: uppercase;
  width: 100%;
  font-size: 1.5em;
  padding: 1em;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.splash-btn:first-child {
  background-color: #2b2bd8;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .logo-img {
    width: 60%;
    height: 150px;
  }

  .splash-btns {
    justify-content: center;
  }

  .splash-btn {
    width: 45%;
  }
}
