<header id="header">
  <% if user_signed_in? %>
    <p class="nav-back">
      <%= link_to '◀︎', :back %>
    </p>
  <% end %>
  <p id="header-title">Expense</p>
  <% if user_signed_in? %>
    <div class="nav-logout">
      <%= link_to("Log out", logout_path, class: 'logout-link') %>
    </div>
  <%end%>
</header>
<%= render "form", expense: @expense %>
